
@{
    ViewData["Title"] = "DeleteEmployeeDetails";
}
@model ListEmployees1.Models.DeleteEmployee
@section Scripts
{
    <script>
        function confirmDelete(event) {
            event.preventDefault();
            swal.fire({
                title: "Are you sure?",
                icon: "question",
                showCancelButton: true
            }).then(result => {
                if (result.isConfirmed) {
                    const registrationForm = document.getElementById('registrationForm');
                    registrationForm.submit();
                }
                else {
                    swal("Your imaginary file is safe!");
                }
            });
        }
    </script>
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Select">Select</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="FilterDetails">Filter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="InsertEmployeeDetails">Insert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="UpdateEmployeeDetails">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="DeleteEmployeeDetails">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<hr />
<h2>Remove Employee</h2>
@ViewData["Message"]
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center" style="width: 15rem; height:10rem;">
                <div class="card-body">

                    <form asp-action="DeleteEmployeeDetails"  id="registrationForm" onsubmit="confirmDelete(event)">

            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" id="id"class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <br />  
                <button type="submit" class="btn btn-secondary" >Delete</button>
                    </form>
    </div>
</div>
        </div>
    </div>
</div>
<br />
<div>
    
      
    <a asp-action="Select" class="btn btn-secondary">View Employee Details</a>
</div>
<br />
<a asp-action="UpdateEmployeeDetails" class="previous round">&#8249;</a>

