
h2, h4 {
    color: black;
    text-decoration: underline;
}

#form {
    background-color: #000;
    padding: 10px;
    align-items: center;
}

label {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

input {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.field-validation-error {
    color: #e80c47;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c47;
}
